@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure app service - Visual studio - Continuous Delivery using GITHub</h1>
</div>
